.viewParentHorizontalDiv {
    padding-top: 5em;
    display: flex;
    color: #f5f5f5
}

.viewParentHorizontalDiv .imageShowDiv {
    padding: 16px;
    width: 60vw;

}

.viewParentHorizontalDiv .imageShowDiv img {
    max-width: 700px;
    max-height: 700px;
    height: 100%;
    object-fit: contain;
}

.viewParentHorizontalDiv .rightSection {
    padding: 16px;
    margin-top: 7em;
    width: 37vw;
}

.itemName{
    font-size: 34px;
    font-weight: 700;
    color: #002f34;
}

.viewParentHorizontalDiv .rightSection .productDetails :first-child {
    margin-bottom: 8px;
    line-height: 32px;
    margin-bottom: 140px;
}

.productPrice {
    font-weight: 700;
    color: black;
    font-size: 34px;
    line-height: 32px;
}

.shortDescription {
    margin-top: 50px;
    font-size: 17px;
    line-height: 23px;
    max-lines: 5;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Adjust the number of lines here */
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black
}

.viewParentHorizontalDiv .rightSection .productDetails {
    /*border: 1px solid black;*/
    padding: 6px;
    /*border-radius: 6px;*/
    margin-bottom: 2em;
    width: 100%;
}

.viewParentHorizontalDiv .rightSection .productDetails p {
    color: black
}

.ganers-list-item{
    display: inline-block;
    height: 40px;
    margin-right: 10px; /* add spacing between items */
    padding-left: 5px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}
.ganers-list-item:hover{
    background-color: transparent;
}

.ganers-list{
    /*display: inline;*/
    height: 40px;
    padding-inline-start: 0px;
    padding-bottom: 40px;
    margin-bottom: 100px;
}

.ganers-button{
    height: 40px;
    font-size: 20px ;
    border: none ;
    border-radius: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
}

.ganers-button:hover{
    background-color: lightgray;
}

.model-buttons-box{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.previewImage{
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.preview-button {
    height: 75px;
    background-color: white;
    color: white;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 6px 30px;

}

.preview-button:hover{
    background-color: lightgray;
}

.download-button {
    width: 250px;
    height: 75px;
    background-color: #227F76;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 20px 20px;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #0A5C5A;
}

.download-button img {
  margin-right: 5px;  /* Adjust spacing between icon and text */
  height: 20px;   /* Set icon image height */
  width: 20px;    /* Set icon image width */
}

.viewParentHorizontalDiv .rightSection .contactDetails {
    border: 1px solid black;
    padding: 6px;
    border-radius: 6px;

}

.viewParentHorizontalDiv .rightSection .productDescription {
    border: 1px solid black;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 2em;
}


.viewParentHorizontalDiv .rightSection .contactDetails .productDescription :first-child {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #002f34;
    font-weight: 400;
    padding: 0;
}

.p-bold {
    font-weight: bolder;
}

.bottomVerticalSection {
    margin: 2em;
}

.bottomVerticalSection .productDescription {
    font-size: 20px;
}