#heading {
    font-size: 36px;
    font-weight: bold;
    color: #227F76;
    display: flex;
    justify-content: center;
    width: 100%;
}

#allModelsContainer {
    background-color: lightgrey;
    width: auto;
    padding: 10px 20px 10px 50px;
    height: fit-content;
}

.posts-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5em;
    grid-row-gap: 70px;
    margin-left: 2em;
}