.card {
    margin-right: 15px;
    max-width: 312px;
    width: 312px;
    height: fit-content;
    display: inline-block;
    cursor: pointer;
    background-color: inherit;
    border-color : transparent ;
}

.card .image-container {
    width: 312px;
    height: 424px;
}

.card-container {
    top: 1em;
    position: relative;
    width: 312px;
    height: fit-content;
}

.card .image-container .favorite img:hover {
    width: 15px;
    height: 15px;
    top: 5px;
    right: 5px;
    z-index: 2;
    position: absolute;
}

.card .image-container .image {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 1;
}

.card .image-container .image:hover {
    border-radius: 1px;
    border: 2px solid seagreen;
}

.card .image img {
    max-width: 100%;
    width: 312px;
    height: 424px;
    max-height: 100%;
    text-align: center;
    border-radius: 2px;
    background-color: inherit;
}

.card .content {
    height: auto;
}

.card .content .rate {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.card .content #content-left {
    display: inline-block;
    width: 50%;
}

.card .content #content-right {
    display: inline-block;
    width: 50%;
}

.card .content .category {
    font-size: small;
}

.card .content .name {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;

}

.card .date {
    display: flex;
    justify-content: flex-end;
    font-size: small;
}

.card-container .card-overlay{
    display: flex;
    flex-wrap: wrap;
}

.favorite {
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 2;
}