.header {
    font-size: 36px;
    font-weight: bold;
    color: #227F76;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cardContainerGeners {
    padding-left: 2vw;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    grid-template-rows: 5fr 5fr 5fr 5fr 5fr;
}

.cardContainerGeners > div {
    margin-right: 2em;
}
