.featuredContainer {
    background-color: lightgrey;
    width: auto;
    padding: 10px 20px 10px 50px;
     height: fit-content;
}

.featuredText {
    font-size: 36px;
    font-weight: bold;
    color: #227F76;
}

.featuredCardContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    margin-left: 2em;
}

.featuredCardContainer > div {
    margin-right: 10em;
}

