#centerDiv {
    position: absolute;
    top: 15%;
    left: 5%;
    padding-bottom: 3%;
}

.metadataBlock {
    border: 1px solid lightgrey;
    width: max-content;
    padding: 50px;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 1em;
}

.inputs {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    width: 40vw;
    height: 5vh;
}

.inputs:not(:valid) {
    border-radius: 10px;
    border-bottom-color: red;
}

.uploadBtn {
    margin-top: 30px;
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
}

.uploadBtn:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
}

.centerDiv label {
    padding-top: 25px;
    font-size: 18px;
}

#imagesBlock {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1em;
}